4

*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {

    /* border: 2px solid black; */
    height: 500px;
    width: 1200px;
   /* margin: 50px; */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 50px;
   
}

.slider{


    /* border: 3px solid red; */
    height: 500px;
    width: 500px;
    background-color: rgb(237, 240, 240);
    border-radius: 20px;
    padding-left: 50px;
}

.slider:hover{
    box-shadow: 0px 0px 30px 0px blue;
}


.slider-Img{

    /* border: 2px solid green; */
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dp-Img{
    border-radius: 50%;
    height: 110px;
    width: 110px;
    /* border: 5px solid rgb(red, green, blue);
    padding: 5px; */
    /* background: linear-gradient(red, blue, purple); */
    /* border: 5px solid red; */
    box-shadow: 0px 0px 20px 2px blue;
    border-radius: 50%;
    padding: 5px;
    margin: 20px 50px;
    object-fit: cover auto;
    

}

.slider-content{

    /* border: 2px solid purple; */
    height: 40%;
    width: 90%;
   text-align: center;
   justify-content: center;
   align-items: center;
  /* margin: 0px 0px 0px 30px; */
}

.slider-content, h2, h5{

    margin: 0px;
}

.btn{

    /* border: 2px solid blue;  */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button{
    
    
    border: 2px solid green;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    width: 50px;
    border-radius: 30px;
    border: none;
    /* padding: 1px; */
}
.btn button:hover{

    box-shadow: 0px 0px 5px 2px blue;
}

.client-form{

    border: 2px solid black;
    height: 50%;
    width: 40%;
    margin-left: 120px;
}

.form{

    border-radius: 8px;
    text-align:center;
    border: no;
}


